body {
    background-color: #343a40;
    color: #D6D7D9;
}

.jumbotron {
    background-color: #1A1A1A;
    color: #D6D7D9;
}

/** Colors:
        darkestgrey - 151515
        ligtestgrey - 727D8E
        darkergrey - 678376
        text-color: D6D7D9
        1A1A1A?
        
*/